<h2 class="title is-2">Select your flight</h2>

<div class="columns">
  <div class="column"></div>
  <div class="column is-three-fifths">
    <section class="section">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <%= render "search_form", flight: @flight, airport_options: @airport_options, params: @params, passengers: @passengers %>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <%= render "select_flight_form", flights: @flights, booking: @booking %>
    </section>
  </div>
  <div class="column"></div>
</div>
