<section class="section">
  <h1 class="title is-size-1-tablet is-size-3-mobile">Booking information</h1>
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <section class="section">
        <div class="card">
          <div class="card-content">
            <%= render "flights/flights_table", flights: [@booking.flight] %>
            <h4 class="is-size-4">Passengers:</h4>
              <div class="content">
                <ul>
                  <% @booking.passengers.each do |passenger| %>
                    <li><strong><%= passenger.name %></strong> | <%= passenger.email %></li>
                  <% end %>
                </ul>
              </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
